
@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
    background:#f0f0f0;
    font-family: 'Roboto', sans-serif;
}

h1
{
    color:#FF6E40!important;
}

h2,h3,h4,h5,h6
{
    color:#444;
    /*font-family: 'Lobster', cursive;*/
}

footer
{
    background:#BDBDBD;
    padding:20px;
    text-align: center;
    border-top-color: #424242;
}

.page
{
    background:#fff;
    border-radius:1em;
    margin:1em;
    min-height:500px;
    padding:1em;
}

.icon-home
{
    color: #666;
    font-size: 60px;
    margin: 20px;
}

.btn-home-admin
{
    font-size: 25px;
}

.btn
{
    background: #ff6000!important;
}

.fixat{position: fixed; z-index: 9000; width: 100%; height: auto;}

.container{display: flex; justify-content: center; flex-flow: column wrap;}